<div class="flex" *ngIf="accountService.userInfo">
    <app-admin-sidebar></app-admin-sidebar>
    <div class="block m-auto" *ngIf="accountService.userInfo.role == 'Admin'">
        <div class="flex overflow-x-auto justify-center shadow-md sm:rounded-lg m-2 h-full w-max">
            <table class="w-full text-sm text-left text-gray-500 " *ngIf="userInfos">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50  ">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Имя
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Электронная почта
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Выбранная поездка
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Роль
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Действия
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of userInfos" class=" bg-white border-b  hover:bg-gray-50">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                            <img [src]="user.image" alt="" class="w-10 mr-4">
                            {{user.userName}}
                        </th>
                        <td class="px-6 py-4">
                            {{user.email}}
                        </td>
                        <td class="px-6 py-4">
                            {{user.currentTripId == 0 ? "Not in trip" : user.currentTripId }}
                        </td>
                        <td class="px-6 py-4">
                            {{user.role.toString() | role}}
                        </td>
                        <td class="px-6 py-4">
                            <button *ngIf="!user.isSelected" (click)="selectUser(user)"
                                class="font-medium text-blue-600 hover:underline">Выбрать</button>
                            <button *ngIf="user.isSelected" (click)="selectUser(user)"
                                class="font-medium text-blue-600 hover:underline"><svg
                                    xmlns="http://www.w3.org/2000/svg" height="1.5em"
                                    viewBox="0 0 448 512">
                                    <path
                                        d="M170.5 51.6L151.5 80h145l-19-28.4c-1.5-2.2-4-3.6-6.7-3.6H177.1c-2.7 0-5.2 1.3-6.7 3.6zm147-26.6L354.2 80H368h48 8c13.3 0 24 10.7 24 24s-10.7 24-24 24h-8V432c0 44.2-35.8 80-80 80H112c-44.2 0-80-35.8-80-80V128H24c-13.3 0-24-10.7-24-24S10.7 80 24 80h8H80 93.8l36.7-55.1C140.9 9.4 158.4 0 177.1 0h93.7c18.7 0 36.2 9.4 46.6 24.9zM80 128V432c0 17.7 14.3 32 32 32H336c17.7 0 32-14.3 32-32V128H80zm80 64V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16z" />
                                </svg>
                            </button>
                        </td>
                    </tr>
                    <p *ngIf="userInfos.length == 0" class="text-center m-5">Пользователи отсутствуют</p>
                </tbody>
            </table>
        </div>

        <div class="p-10 ">
            <div class="max-w-md mx-auto">
                <label for="select" class="font-semibold block py-2">Выбрать роль:</label>
                <div class="relative">
                    <div class="h-10 bg-white flex border border-gray-200 rounded items-center">
                        <input [value]="role" (click)="showRoleOptions = !showRoleOptions"
                            class="px-4 appearance-none outline-none text-gray-800 w-full cursor-pointer" checked
                            readonly />
                        <label for="show_more"
                            class="cursor-pointer outline-none focus:outline-none border-l border-gray-200 transition-all text-gray-300 hover:text-gray-600">
                            <svg class="w-4 h-4 mx-2 fill-current" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round">
                                <polyline points="18 15 12 9 6 15"></polyline>
                            </svg>
                        </label>
                    </div>
                    <input type="checkbox" class="hidden peer" [checked]="showRoleOptions" />
                    <div
                        class="absolute z-10 rounded shadow bg-white overflow-hidden hidden peer-checked:flex flex-col w-full mt-1 border border-gray-200">
                        <div class="cursor-pointer group">
                            <button (click)="selectRole(0)"
                                class="block w-full text-left p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100">Admin</button>
                        </div>
                        <div class="cursor-pointer group border-t">
                            <button (click)="selectRole(1)"
                                class="block w-full text-left p-2 border-transparent border-l-4 group-hover:border-blue-600 border-blue-600 group-hover:bg-gray-100">Moderator</button>
                        </div>
                        <div class="cursor-pointer group border-t">
                            <button (click)="selectRole(2)"
                                class="block w-full text-left p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100">Organizer</button>
                        </div>
                        <div class="cursor-pointer group border-t">
                            <button (click)="selectRole(3)"
                                class="block w-full text-left p-2 border-transparent border-l-4 group-hover:border-blue-600 group-hover:bg-gray-100">User</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class=" flex items-center justify-center">
            <button (click)="changeRole()"
                class="relative flex justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 focus:ring-4 focus:outline-none focus:ring-lime-200 ">
                <span
                    class="relative px-5 py-2.5 transition-all ease-in duration-100 bg-white rounded-md group-hover:bg-opacity-0">
                    Подтвердить
                </span>
            </button>
        </div>
    </div>

    <div class="m-auto" *ngIf="accountService.userInfo.role != 'Admin'">
        <p class="text-center text-3xl text-red-500">Доступ запрещен</p>
        <p class="text-center">Недостаточно прав</p>
    </div>