<form class="text-center" [formGroup]="form" (ngSubmit)="submit()">
    <h1 class="text-xl pb-10">Авторизация</h1>
    <input type="text" class="border rounded-2xl w-full py-2 px-4 mb-2" placeholder="Login" formControlName="name"
        appFocus>
    <input type="password" class="border rounded-2xl w-full py-2 px-4 mb-2" placeholder="Password"
        formControlName="password">
    <button type="submit" class="border py-2 px-5 btn rounded-2xl 
     hover:shadow-inner
      active:shadow-inner active:border-none  
    ">Войти</button>
</form>