<div class="container dark:bg-slate-900">
    <div class="flex">
        <div class="mt-16">
            <h5 class="font-bold uppercase text-red-600 dark:text-slate-200">Best Destinations around the world</h5>
            <h1 class="text-8xl font-bold font-serif text-blue-950 py-6 dark:text-slate-200">Travel, enjoy <br>
                and live a new <br>
                and full life</h1>
            <p class="font-sans font-semibold dark:text-slate-200">Built Wicket longer admire
                do barton vanity itself
                do in it. <br> Preferred to
                sportsmen it engrossed listening.
                Park gate <br> sell they west hard for the.</p>
            <div class="pt-5 dark:text-slate-200">
                <button class="transition-all dark:text-slate-200 p-4 rounded-xl text-center border border-yellow-200
                text-black hover:text-white  hover:bg-yellow-500 hover:drop-shadow-xl 
                ">
                    <mat-icon class="p-1">search</mat-icon>
                    Find out more</button>
                <button class="ml-5 transition-all hover:bg-red-400 hover:text-white p-4  hover:drop-shadow-xl rounded-full ">
                    <mat-icon  class="bg-red-400 rounded-full text-white align-middle scale-125 mr-2" >play_arrow</mat-icon>
                    Play Demo</button>
            </div>
        </div>
        <div class=""><img src="/assets/header-image.png" alt=""></div>
    </div>
</div>