<div class="container ">
    <div class="flex">
        <div class="mt-16">
            <h5 class="font-bold uppercase text-red-600 ">Лучшие места всего мира</h5>
            <h1 class="text-8xl font-bold font-serif text-blue-950 py-6 ">Путешествуй, узнавай<br>
                живи по новому<br>
                полной жизнью</h1>
            <p class="font-sans font-semibold ">
                Откройте для себя увлекательные путешествия с нашими тщательно подобранными турами по всему миру. <br>
                Путешествуйте с комфортом и уверенностью, зная, что все детали вашего маршрута заботливо организованы нашей командой.
            </p>
            <div class="pt-5 ">
                <button class="transition-all  p-4 rounded-xl text-center border border-yellow-200
                text-black hover:text-white  hover:bg-yellow-500 hover:drop-shadow-xl 
                ">
                    <mat-icon class="p-1">search</mat-icon>
                    Найти больше</button>
                <button class="ml-5 transition-all hover:bg-red-400 hover:text-white p-4  hover:drop-shadow-xl rounded-full ">
                    <mat-icon  class="bg-red-400 rounded-full text-white align-middle scale-125 mr-2" >play_arrow</mat-icon>
                    Демонстрация поездки</button>
            </div>
        </div>
        <div class=""><img src="/assets/header-image.png" alt=""></div>
    </div>
</div>