<div class="container text-center">
    <h5 class="font-semibold">выгодно</h5>
    <h1 class="text-6xl font-serif font-bold ">Лучшие места</h1>
    <div class=" container flex justify-between mt-28 mb-20">

        <mat-card class="transition-all mx-1 bg-white">
            <mat-card-content class="bg-transparent p-0 shadow-xl">
                <img src="assets/top/place1.jpeg" alt="" class="max-w-150">
                <div class="destination-information">
                    <div class="flex px-7 justify-between text-2xl mt-8">
                        <h5 class="font-medium ">Казань</h5>
                        <p>{{currency[0] | currency:'₽'}}</p>
                    </div>
                    <p class="font-sans text-left px-7 my-5">
                        <mat-icon>near_me</mat-icon>
                        10 дней поездки
                    </p>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class=" transition-all mx-1 bg-white">
            <mat-card-content class="bg-transparent p-0 shadow-xl">
                <img src="assets/top/place2.jpeg" alt="" class="max-w-150">
                <div class="destination-information">
                    <div class="flex px-7 justify-between text-2xl mt-8">
                        <h5 class="font-medium ">Сочи</h5>
                        <p>{{currency[1] | currency:'₽'}}</p>
                    </div>
                    <p class="font-sans text-left px-7 my-5">
                        <mat-icon>near_me</mat-icon>
                        12 дней поездки
                    </p>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class=" transition-all mx-1">
            <mat-card-content class="bg-transparent p-0 shadow-xl">
                <img src="assets/top/place3.jpeg" alt="" class="max-w-150">
                <div class="destination-information">
                    <div class="flex px-7 justify-between text-2xl mt-8">
                        <h5 class="font-medium ">Суздаль</h5>
                        <p>{{currency[2] | currency:'₽'}}</p>
                    </div>
                    <p class="font-sans text-left px-7 my-5">
                        <mat-icon>near_me</mat-icon>
                        28 дней поездки
                    </p>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>