mat-card-content:first-child {
    padding: 0;
}
mat-card{
    border-radius: 35px;
    max-width: 420px;
    max-height: 600px;
}
.destination-information{
    @apply absolute -bottom-5 bg-white w-full rounded-3xl rounded-t-lg
}