.container{
    display: flex;
    justify-content: space-between;
    color: #14183E;
}
.step{
    margin-bottom: 65px;
}
.status{
    color: #84829A;
}
.shadow-lg{
    box-shadow: 0px 10px 23px 0px rgba(34, 60, 80, 0.2);
}
