<div class="container">
    <div class="">
        <h1 class="font-bold  text-3xl text-black">Travello</h1>
        <p>Book your trip in minute, get full
            Control for much longer.
        </p>
    </div>
    <div class="block">
        <h3 class="title">Company</h3>
        <a href="">About <br></a>
        <a href="">Careers <br> </a>
        <a href="">Mobile <br></a>
    </div>
    <div class="block">
        <h3 class="title">Contact</h3>
        <a href="">Help/FAQ <br></a>
        <a href="">Press <br></a>
        <a href="">Affilates <br></a>

    </div>
    <div class="block">
        <h3 class="title">More</h3>
        <a href="">Airline fees <br></a>
        <a href="">Airline <br> </a>
        <a href="">Low fare tips<br></a>

    </div>
    <div class="">
        <div class="">
            <mat-icon>ICONCA</mat-icon>
            <mat-icon>ICONCA</mat-icon>
            <mat-icon>ICONCA</mat-icon>
        </div>
        <div class="">
            <p>Discover our app</p>
            <a href="">Google</a>
            <a href="">AppStore</a>
        </div>
    </div>


</div>
All rights reserved@jadoo.co