mat-card{
    max-width: 250px;
    max-height: 300px;
    padding: 30px;
    transition: .5s;
    background: #fff;
}
mat-card:hover{
    box-shadow: 0px 0px 25px 0px rgba(34, 60, 80, 0.2);
    border-radius: 40px;
}
