<div class=" relative container text-center my-16 category">
    <img src="assets/cat-dot.png" alt="" class="absolute top-0 right-0 scale-75">
    <h5 class="uppercase font-medium tracking-widest">category</h5>
    <h2 class="text-5xl font-semibold font-serif">We Offer Best Services</h2>
    <div class=" container flex justify-between mt-28">
        <mat-card class="max-w-xs transition-all ">
            <img mat-card-image class="w-28 m-auto" src="assets/cat-img1.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <h5 class="font-medium my-8">Calculated Weather</h5>
                <p class="font-sans ">
                    Built Wicket longer admire do barton vanity itself do in it.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="max-w-xs">
            <img mat-card-image class="w-28 h-24 m-auto " src="assets/cat-img2.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <h5 class="font-medium my-8">Best Weather</h5>
                <p class="font-sans ">
                    Built Wicket longer admire do barton vanity itself do in it.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="max-w-xs">
            <img mat-card-image class="w-28 h-24 m-auto" src="assets/cat-img3.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <h5 class="font-medium my-8">Local Events</h5>
                <p class="font-sans ">
                    Built Wicket longer admire do barton vanity itself do in it.
                </p>
            </mat-card-content>
        </mat-card>

        <mat-card class="max-w-xs">
            <img mat-card-image class="w-28 h-24 m-auto" src="assets/cat-img4.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <h5 class="font-medium my-8">Customization</h5>
                <p class="font-sans ">
                    Built Wicket longer admire do barton vanity itself do in it.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>