.container{
    display: flex;
    justify-content: space-between;
    padding-top: 160px;
    color: #5E6282;
    height: 500px; /* Задайте желаемую высоту контейнера */
   overflow: hidden;
}
.active{
    display: inline;
}
