<div class="container py-10 ">
    <div class="">
        <h5 class="uppercase font-medium pb-4 ">отзывы</h5>
        <h1 class="text-5xl font-serif font-bold ">
            Что люди говорят <br>
            О нас
        </h1>
    </div>
    <div class="flex">
        <div class="font-medium block m-auto mr-20">
            <mat-icon [class]="iconColors[0]" class="mr-5">fiber_manual_record</mat-icon>
            <br>
            <mat-icon [class]="iconColors[1]" class="mr-5">fiber_manual_record</mat-icon>
            <br>
            <mat-icon [class]="iconColors[2]" class="mr-5">fiber_manual_record</mat-icon>
        </div>
        <div class="relative w-96 ">
            <div class="absolute  right-0 mr-10 w-96 h-64 shadow-lg p-10 rounded-3xl z-10 "
                [@blockAnimation]="activeClass[0]">
                <div>
                    <img src="assets/person.png" alt="" class="absolute -left-10 -top-10">
                    <h1>“Моё путешествие с Travello было просто незабываемым!
                        Организация была на высшем уровне, все детали продуманы до мелочей.”</h1>
                    <h1 class="font-medium text-lg pt-9">Алексей Смирнов</h1>
                    <h1 class="text-gray-400">Самара</h1>
                </div>
            </div>
            <div class="absolute  w-96 mr-10 h-64 shadow-lg p-10 rounded-3xl z-0" [@blockAnimation]="activeClass[1]">
                <div>
                    <img src="assets/person2.jpg" alt="" class="absolute -left-10 -top-10 rounded-full w-">
                    <h1>"Это была моя первая поездка с Travello, и я был приятно удивлен качеством обслуживания."</h1>
                    <h1 class="font-medium text-lg pt-9">Мария Иванова</h1>
                    <h1 class="text-gray-400">Москва</h1>
                </div>
            </div>
            <div class="absolute  w-96 mr-10 h-64 shadow-lg p-10 rounded-3xl -z-10" [@blockAnimation]="activeClass[2]">
                <div>
                    <img src="assets/person3.jpg" alt="" class="absolute -left-10 -top-10 rounded-full">
                    <h1>"Travello сделал мое путешествие мечты реальностью. Все было идеально организовано: от
                        комфортного транспорта до отличных отелей и захватывающих экскурсий."</h1>
                    <h1 class="font-medium text-lg pt-9">Елена Кузнецова</h1>
                    <h1 class="text-gray-400 ">Новосибирск</h1>
                </div>
            </div>
        </div>
        <div class="block z-20">
            <button (click)="onUpArrowClick()" class="z-20 mt-20"><mat-icon>keyboard_arrow_up</mat-icon></button>
            <br>
            <button (click)="onDownArrowClick()" class="z-20 mt-20"> <mat-icon>keyboard_arrow_down</mat-icon></button>
        </div>
    </div>
</div>