mat-card {
  max-width: 250px;
  max-height: 300px;
  padding: 30px;
  transition: 0.5s;
  background: #fff;
}
mat-card:hover {
  box-shadow: 0px 0px 25px 0px rgba(34, 60, 80, 0.2);
  border-radius: 40px;
}

.card {
  @apply max-w-xs transition-all dark:bg-slate-800;
}
.card-image {
  @apply w-28 max-h-36 m-auto transition-none overflow-hidden;
}
.card-title {
  @apply font-medium my-8 dark:text-slate-200;
}
.card-text {
  @apply font-sans dark:text-slate-200;
}
