<div class="relative container text-center my-16 category">
    <img src="assets/cat-dot.png" alt="" class="absolute top-0 right-0 scale-75">
    <h5 class="uppercase font-medium tracking-widest">Категория</h5>
    <h2 class="text-5xl font-semibold font-serif">Мы предлагаем лучшие услуги</h2>
    <div class="container flex justify-between mt-28">
        <mat-card class="card">
            <img mat-card-image class="card-image" src="assets/cat-img1.png" alt="Фото">
            <mat-card-content>
                <h5 class="card-title">Вычисленная погода</h5>
                <p class="card-text">
                    Получите точные прогнозы погоды с использованием современных технологий.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <img mat-card-image class="card-image" src="assets/cat-img2.png" alt="Фото">
            <mat-card-content>
                <h5 class="card-title">Лучшая погода</h5>
                <p class="card-text">
                    Узнайте о лучших погодных условиях для вашего отдыха и поездок.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <img mat-card-image class="card-image" src="assets/cat-img3.png" alt="Фото">
            <mat-card-content>
                <h5 class="card-title">Локальные события</h5>
                <p class="card-text">
                    Оставайтесь в курсе местных событий и активностей в вашем районе.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <img mat-card-image class="card-image" src="assets/cat-img4.png" alt="Фото">
            <mat-card-content>
                <h5 class="card-title">Кастомизация</h5>
                <p class="card-text">
                    Настройте наш сервис под свои нужды для максимального удобства.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>