<div class="flex">
    <app-sidebar></app-sidebar>
    <div class=" m-auto">

        <h1 class="font-medium text-4xl">Password Change</h1>
        <div class="mb-6">
            <h2 class="text-lg font-bold my-1">Password:</h2>
            <input type="password" [(ngModel)]="password" placeholder='Password'
                class="border rounded-xl p-1 w-full my-3 h-10">
            <h2 class="text-lg font-bold my-1">Password again:</h2>
            <input type="password" placeholder='Password again' class="border rounded-xl p-1 w-full my-3 h-10">
        </div>
        <div class="justify-between flex">
            <button class="bg-green-500 hover:bg-green-600 text-white py-2 w-full m-2 rounded-xl"
                (click)="onChangePasswordClick(password)">
                Submit
            </button>
        </div>
    </div>

</div>