<div class="mx-60">
<app-nav></app-nav>
<router-outlet></router-outlet>
<app-footer></app-footer>
</div>

<app-modal *ngIf="modalService.isVisible$ | async">
    <ng-container *ngIf="modalService.loginFormVisible">
        <app-login></app-login>
    </ng-container>
    <ng-container *ngIf="modalService.signupFormVisible">
        <app-sign-up></app-sign-up>
    </ng-container>
    <ng-container *ngIf="modalService.birthDateFormVisible">
        <app-birth-date-change></app-birth-date-change>
    </ng-container>
    <ng-container *ngIf="modalService.subscribeFormVisible">
        <app-subscribe-trip></app-subscribe-trip>
    </ng-container>
    <ng-container *ngIf="modalService.editTripFormVisible">
        <app-trip-edit></app-trip-edit>
    </ng-container>
</app-modal>