<div class="container py-10">
    <div class="">
        <h5 class="uppercase font-medium pb-4 ">testimonials</h5>
        <h1 class="text-5xl font-serif font-bold">What People Say <br>
            About Us.
        </h1>
    </div>
    <div class="flex">
    <div class="font-medium block m-auto mr-20">
        <mat-icon [class]="iconColors[0]" class="mr-5">fiber_manual_record</mat-icon>
        <br>
        <mat-icon [class]="iconColors[1]" class="mr-5">fiber_manual_record</mat-icon>
        <br>
        <mat-icon [class]="iconColors[2]" class="mr-5">fiber_manual_record</mat-icon>
    </div>
    <div class="relative w-96">
        <div class="absolute right-0 mr-10 w-96 h-64 shadow-lg p-10 rounded-3xl z-10 " [@blockAnimation]="activeClass[0]">
            <div>
                <img src="assets/person.png" alt="" class="absolute -left-10 -top-10">
                <h1>“On the Windows talking painted pasture yet its express parties use. Sure last upon he same as knew
                    next. Of believed or diverted no.”</h1>
                <h1 class="font-medium text-lg pt-9">Mike taylor</h1>
                <h1 class="text-gray-400">Lahore, Pakistan</h1>
            </div>
        </div>
        <div class="absolute w-96 mr-10 h-64 shadow-lg p-10 rounded-3xl z-0" [@blockAnimation]="activeClass[1]">
            <div>
                <img src="assets/person2.jpg" alt="" class="absolute -left-10 -top-10 rounded-full w-">
                <h1>"Within the bustling city streets, amidst the hustle and bustle of everyday life, a story unfolds.
                    People rushing by, their conversations blending into a symphony of words"</h1>
                <h1 class="font-medium text-lg pt-9">Emma Johnson</h1>
                <h1 class="text-gray-400">New York City, USA</h1>
            </div>
        </div>
        <div class="absolute w-96 mr-10 h-64 shadow-lg p-10 rounded-3xl -z-10" [@blockAnimation]="activeClass[2]">
            <div>
                <img src="assets/person3.jpg" alt="" class="absolute -left-10 -top-10 rounded-full">
                <h1>"In the serene tranquility of nature, where time slows down and the world fades away, a different
                    narrative unfolds."</h1>
                <h1 class="font-medium text-lg pt-9">Christopher Anderson</h1>
                <h1 class="text-gray-400 "> Mumbai, India</h1>
            </div>
        </div>
    </div>
    <div class="block z-20">
        <button (click)="onUpArrowClick()" class="z-20 mt-20"><mat-icon>keyboard_arrow_up</mat-icon></button>
        <br>
        <button (click)="onDownArrowClick()" class="z-20 mt-20"> <mat-icon>keyboard_arrow_down</mat-icon></button>
    </div></div>
</div>