<div class="container dark:bg-slate-900 bg-cover" [style.background-image]="'url(assets/news/news-bg.png)'">
    <div class="">
        <h2 class="font-medium text-5xl text-center pt-24 dark:text-white">Subscribe to get information, latest news and other <br>
            interesting offers about Travello
        </h2>

        <div class="w-max m-auto align-middle mt-20 pb-12">
            <mat-icon class="mr-9 text-black dark:text-white">email</mat-icon>
            <input type="email" class="w-96 h-20 px-4 rounded-xl dark:bg-slate-800" [(ngModel)]="email" placeholder="Your E-mail">
            <button (click)="subscribe()" class="rounded-xl h-20 px-16 dark:bg-slate-800 dark:hover:bg-slate-900 ml-9 text-white bg-orange-500 hover:bg-orange-600 duration-75">Subscribe</button>
        </div>
    </div>
</div>