<div class="container mx-auto p-6 flex  justify-between" *ngIf="isLoggedIn">
    <div class=" rounded-xl border w-full mx-5 px-5 py-5">
        <div class="flex items-center mb-4">
            <img class="w-24 h-24 rounded-full mr-4" src="https://via.placeholder.com/96" alt="User Photo">
            <div class="">
                <h1 class="text-2xl font-bold">User Name:</h1>
                <p>{{userInfo.userName}}</p>
            </div>
        </div>

        <div class="mb-6 flex  justify-between">
            <div class="">
                <h2 class="text-lg font-bold">Birthday:</h2>
                <p>01.01.2000</p>
            </div>
            <div class="">
                <h2 class="text-lg font-bold">Role:</h2>
                <p>{{userInfo.role}}</p>
            </div>
        </div>
        <div class="mb-6">
            <h2 class="text-lg font-bold">E-mail:</h2>
            <p>Email</p>
            
        </div>
        <div class="mb-6">
            <h2 class="text-lg font-bold my-1">Password:</h2>
            <input type="password" [(ngModel)]="password" placeholder='Password'
                class="border rounded-xl p-1 w-full my-3 h-10">
            <h2 class="text-lg font-bold my-1">Password again:</h2>
            <input type="password" placeholder='Password again' class="border rounded-xl p-1 w-full my-3 h-10">
        </div>

        <div class="justify-between flex">
            <button class="bg-blue-500 hover:bg-blue-600 text-white py-2 w-full mx-1 rounded-xl"
                (click)="onChangePasswordClick()">
                Edit
            </button>
            <button class="bg-red-500 hover:bg-red-600 text-white py-2 w-full mx-1 rounded-xl" (click)="onLogout()">
                Exit
            </button>
        </div>
    </div>
    <div class="border rounded-xl w-full mx-5 px-5 py-5">
        <h1 class="text-2xl font-bold mb-6 ">Trip Info:</h1>
        <div class="mb-6">
            <h2 class="text-lg font-bold">Current Trip:</h2>
            <p *ngIf="isInTrip">{{userInfo.currentTripId}}</p>
            <p *ngIf="!isInTrip" class="text-gray-400">Not in trip</p>
        </div>

        <div class="mb-6">
            <h2 class="text-lg font-bold">Your trip list:</h2>
            <ul>
            </ul>
        </div>
    </div>

    <div class="border rounded-xl w-full mx-5 px-5 py-5">
        <h1 class="text-2xl font-bold mb-6 ">Create New Trip:</h1>
        <div class="mb-6">
            <form action="" [formGroup]="tripForm" (submit)="onSubmit()">
                <input type="hidden" formControlName="userId">
                <h2 
                class="text-lg font-bold my-1">Title:</h2>
                <input type="text" formControlName="title" placeholder='Title'
                class="border rounded-xl p-1 w-full mt-1 h-10">
                <h2 
                class="text-lg font-bold mt-1">Description:</h2>
                <input type="text" formControlName="description" placeholder='Description' 
                class="border rounded-xl p-1 w-full mt-1 h-10">
                <h2 
                class="text-lg font-bold mt-1">Travel Time:</h2>
                <input type="text" formControlName="travelTime" placeholder='Travel Time' 
                class="border rounded-xl p-1 w-full mt-1 h-10">
                <h2 
                class="text-lg font-bold mt-1">Image:</h2>
                <input type="text" formControlName="image" placeholder='Drop Image' 
                class="border rounded-xl p-1 w-full mt-1 h-10">
                <button 
                class="bg-green-500 hover:bg-green-600 active:bg-green-700 text-white py-2 w-full mt-[10%] rounded-xl" 
                >
                    Submit
                </button>
            </form>

        </div>

    </div>

</div>

<div class="" *ngIf="!isLoggedIn">

    <h1 class="text-6xl font-semibold text-center">You need to Log in!</h1>

    <app-login></app-login>
</div>