.travello {
  color: white;
  background: linear-gradient(
    128deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  background-size: 200% 200%;
  animation: gradientAnimation 5s ease infinite; /* Здесь 10s - это время анимации, вы можете изменить его на свое усмотрение */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.travello:hover {
  color: rgb(242, 242, 242);
}

.title{
  @apply font-bold text-3xl text-black ;
}

.nav-link {
  @apply rounded-lg ml-1 px-3 py-2 duration-100   text-slate-700 font-medium hover:bg-slate-100 hover:text-slate-900;
}
