<div class="container">
    <img src="assets/news/news-bg.png" alt="" class="absolute -z-10">
    <div class="">
        <h2 class="font-medium text-5xl text-center pt-24">Subscribe to get information, latest news and other <br>
            interesting offers about Jadoo
        </h2>

        <div class="w-max m-auto align-middle mt-32">
            <mat-icon class=" mr-9  text-black">email</mat-icon>
            <input type="email" class="w-96 h-20 px-4 rounded-xl" placeholder="Your E-mail">
            <button class="rounded-xl h-20 px-16  ml-9 text-white" style="background: #FF946D;">Subscribe</button>
        </div>
    </div>
</div>