<div class="flex">
  <!-- Секция с категорией "Next Trip" -->
  <section class="bg-white w-[50%] m-1">
    <div class="" *ngIf="hasNextTripLoaded; else nextTripNotLoaded">
      <app-next-trip [nextTrip]="nextTrip"></app-next-trip>
    </div>
    <ng-template #nextTripNotLoaded>
      <div
        class="bg-white shadow-lg rounded-xl h-32 p-2 flex flex-col justify-between"
      >
        <h1 class="text-center">
          The next trip has not been loaded or choosen.
        </h1>
      </div>
    </ng-template>
  </section>

  <!-- Секция с категорией "Ongoing Trip" -->
  <section class="bg-white w-[50%] m-1">
    <div class="" *ngIf="hasOngoingTripLoaded; else ongoingTripNotLoaded">
      <app-ongoing-trip [ongoingTrip]="ongoingTrip"></app-ongoing-trip>
    </div>
    <ng-template #ongoingTripNotLoaded>
        <div
          class="bg-white shadow-lg rounded-xl h-32 p-2 flex flex-col justify-between"
        >
          <h1 class="text-center">
            The ongoingTrip trip has not been loaded or choosen.
          </h1>
        </div>
      </ng-template>
  </section>
</div>
<section>
  <div class="pt-6 pb-12">
    <div id="card" class="">
      <h2 class="text-center font-serif uppercase text-4xl xl:text-5xl">
        Trip List
      </h2>
      <!-- container for all cards -->
      <div
        class="container w-100 lg:w-4/5 mx-auto flex flex-col"
        *ngIf="tripList && tripList.length > 0"
      >
        <!-- card -->
        <div
          *ngFor="let trip of tripList"
          class="flex flex-col md:flex-row overflow-hidden bg-white rounded-lg shadow-xl mt-4 w-100 mx-2"
        >
          <!-- media -->
          <div class="h-64 w-auto md:w-1/2">
            <img
              class="inset-0 h-full w-full object-cover object-center"
              [src]="trip.imageUrl"
            />
          </div>
          <!-- content -->
          <div
            class="w-full py-4 px-6 text-gray-800 flex flex-col justify-between"
          >
            <h3 class="font-semibold text-lg leading-tight truncate">
              {{ trip.title }}
            </h3>
            <p class="mt-2">
              {{ trip.description | truncate : 450 }}
            </p>
            <div class="flex items-center align-middle justify-between">
              <p
                class="text-sm text-gray-700 uppercase tracking-wide font-semibold mt-2"
              >
                {{ trip.dateFrom | day }} {{ trip.dateFrom | month }} &bull;
                {{ trip.dateTo | day }}
                {{ trip.dateTo | month }}
              </p>

              <button
                (click)="navigateToDetails(trip.id)"
                class="relative inline-flex justify-end w-fit p-0.5 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800"
              >
                <span
                  class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white hover:text-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
                >
                  Details
                </span>
              </button>
            </div>
          </div>
        </div>
        <!--/ card-->
      </div>
      <!--/ flex-->
    </div>
  </div>
</section>
