<!-- Верхняя часть страницы с категорией "Travello" -->
<!-- <div class="bg-gradient-to-r from-purple-600 to-blue-500 py-10">
    <h1 class="text-white text-5xl text-center font-medium">Travello.</h1>
</div> -->
<div class="flex">
    <!-- Секция с категорией "Next Trip" -->
    <section class="bg-white w-[50%] ">
        <div class="">
                <app-next-trip [trip]="trip"></app-next-trip>
        </div>
    </section>

    <!-- Секция с категорией "Ongoing Trip" -->
    <section class="bg-white w-[50%]">
        <div class="">
            <div class="">
                <app-ongoing-trip [ongoingTrip]="ongoingTrip"></app-ongoing-trip>
            </div>
        </div>
    </section>
</div>