<div class="relative">
    <h2 class="absolute left-0 right-0 text-4xl font-bold text-center mb-8">Ongoing Trip:</h2>
    <img src="{{ongoingTrip.imageUrl}}" alt="Ongoing Trip Image" class="w-max h-max z-0">
    <div class="absolute inset-0 flex flex-col justify-end items-center pb-10">
      <div class="grid grid-cols-1  gap-6">
        <div class="bg-white shadow-lg rounded-xl p-6 flex flex-col justify-between">
          <h3 class="text-2xl font-bold">Trip To {{ongoingTrip.title}}</h3>
          <p class="text-gray-400 font-medium mt-2">
            {{ongoingTrip.dateFrom | day}} {{ongoingTrip.dateFrom | month}} - {{ongoingTrip.dateTo | day}} {{ongoingTrip.dateTo | month}} | by {{ongoingTrip.author}}
          </p>
          <div class="flex items-center mt-4 text-gray-400 font-medium">
            <svg class="w-6 h-6 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 20l4-16m2 16l4-16M6 9h14M4 15h14"></path>
            </svg>
            <p>{{ongoingTrip.onGoingCount || 0}} people going</p>
          </div>
        </div>
      </div>
    </div>
  </div>